html {
    scroll-behavior: smooth;
}

body {
    margin:0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px
    line-height:1.6;
}

#showcase {
    background-image:url(pics/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}

#showcase h1 {
    color: white;
    font-size: 80px;
}

#showcase .button{
    font-size: 40px;
    color: white;
}

#showcase .button:hover{
    color: cyan;
}

#about {
    height:100vh;
    background-color: #E2AFEA;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0 2em;
    color: white
}

#projects {
    height: 100vh;
    background-color: #B7EAAF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 2em;
    color: white;
    align-items: center;
}

#projects .header {
    align-self: flex-start;
    grid-column: 1/4;
}

#links {
    background-color: #E2AFEA;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

#links a {
    flex:1;
    font-size: 100px;
    letter-spacing: 1em;
    color: white;
}

#links a:hover {
    color: cyan;
}

#links .button {
    font-size: 40px;
    color: white;
}

#links .button:hover {
    color: cyan;
}
