body {
  font-family: Arial;
  background-color: #ffffff;
  text-align: center;
  margin: 2em 3.5em;
  color: #284b63;
}

.resume {
    margin: 2em 8em;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

h4 {
    color: #3c6e71;
    margin-top: 0;
    padding-top: 0.25em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h5 {
    color: #990100;
    font-family: Arial;
    font-size: 1.5em;
    font-style: normal;
}

p {
    text-align: justify;
    color: #353535;
}

ul {
    line-height: 1.5;
    color: #333333;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    padding: 10px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

a {
    color: #4A4E69;
    text-decoration: none;
}

.portfolio_link {
    padding-top: 1.5em;
    justify-content: center;
    text-align: center;
}

.portfolio_link a {
    text-decoration: underline;
    font-weight: bold;
    color: #6caeb2;
    transition: all 1s;
}

.portfolio_link a:hover {
    color: #3c6e71;
    transition: all 600ms;
}

.grid-item {
    padding: 2em;
    background-color: #ffffff;
    filter: drop-shadow(.5em .5em 10px rgba(0, 0, 0, 0.5));

    -webkit-transition: background-color 350ms linear;
    -ms-transition: background-color 350ms linear;
    transition: background-color 350ms linear;
    border-radius: 1.5em;
    transform: scale(1);
    transition: all 600ms;
}

.grid-item:hover {
    background-color: #d9d9d9;
    -webkit-transition: background-color 350ms linear;
    -ms-transition: background-color 350ms linear;
    transition: background-color 350ms linear;
    transform: scale(1.1);
    transition: all 600ms;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 1em;
}

.desc {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1em;
    text-align: center;
    color: #4A4E69;
}

#socials {
  padding-top: 1.5em;
  justify-content: center;
  text-align: center;
}

#socials a {
  color: #6caeb2;
  font-size: 2em;
  letter-spacing: 1em;
  transition: all 1s;
}

#socials a:hover {
  color: #3c6e71;
  transition: all 600ms;
}
